<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bookrentalsystemforcsumblibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountCreationActivity"
            android:label="@string/title_activity_account_creation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookrentalsystemforcsumblibrary.MainActivity" />
        </activity>
        <activity
            android:name=".PlaceHoldActivity"
            android:label="@string/title_activity_place_hold"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookrentalsystemforcsumblibrary.MainActivity" />
        </activity>
        <activity
            android:name=".CancelHoldActivity"
            android:label="@string/title_activity_cancel_hold"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookrentalsystemforcsumblibrary.MainActivity" />
        </activity>
        <activity
            android:name=".ManageSystemActivity"
            android:label="@string/title_activity_manage_system"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bookrentalsystemforcsumblibrary.MainActivity" />
        </activity>
    </application>

</manifest>